# Python packages and versions used most recently in development environment
#
# Create/update this file with:
#   (cookiecutter)$ python3 -m pip list --format=freeze >> envs/requirements.txt
#
# This list is intended to be for reference only.
# Use the conda environment description file (environment.yaml)
# to create an isolated development environment.

appdirs==1.4.4
arrow==1.2.1
binaryornot==0.4.4
black==22.3.0
brotlipy==0.7.0
certifi==2021.10.8
cffi==1.15.0
cfgv==3.3.1
chardet==4.0.0
charset-normalizer==2.0.9
click==8.0.3
cookiecutter==1.7.0
cryptography==36.0.0
dataclasses==0.8
distlib==0.3.4
editdistance-s==1.0.0
filelock==3.4.0
future==0.18.2
identify==2.3.7
idna==3.1
Jinja2==3.0.3
jinja2-time==0.2.0
MarkupSafe==2.0.1
mypy-extensions==0.4.3
nodeenv==1.6.0
pathspec==0.9.0
pip==21.3.1
platformdirs==2.3.0
poyo==0.5.0
pre-commit==2.18.1
pycparser==2.21
pyOpenSSL==21.0.0
PySocks==1.7.1
python-dateutil==2.8.2
PyYAML==6.0
requests==2.26.0
setuptools==59.6.0
six==1.16.0
toml==0.10.2
tomli==1.2.2
typed-ast==1.5.1
typing_extensions==4.0.1
urllib3==1.26.7
virtualenv==20.4.7
wheel==0.37.0
whichcraft==0.6.1
